@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/utilities';

//add new width utilities
$utilities: map-merge(
  $utilities,
  (
    'width':
      map-merge(
        map-get($utilities, 'width'),
        (
          values:
            map-merge(
              map-get(map-get($utilities, 'width'), 'values'),
              (
                15: 15%,
              )
            ),
        )
      ),
  )
);

// Override default variables before the import
//$body-bg: #000;
$danger: #f5222d;

$font-family-sans-serif: Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
  'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol', 'Noto Color Emoji';

// Import Bootstrap and its default variables
@import 'bootstrap/scss/bootstrap.scss';

.fs-sm {
  font-size: $font-size-base * 0.85;
}

.top-45 {
  top: -45px !important;
}

.w-150 {
  width: 150px !important;
}

.pointer {
  cursor: pointer;
}
